*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0px;
    background-color: #262626;
}

p {
    font-size: 8px;
    line-height: 8px;
    background: url(https://www.teahub.io/photos/full/230-2302386_hunter-x-hunter-killua.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(206, 206, 206, 0);
    text-align: justify;
    overflow: hidden;
}
